# KAFKA
KAFKA_CLIENT_ID=kucoin-scraper
KAFKA_TOPIC=kucoin-depthUpdate-raw
KAFKA_BROKER_HOST=localhost:9092
KAFKA_CONFIG_PATH=resources/kafka-sink-config.yaml
SCHEMA_REGISTRY_URL=http://localhost:8081
# KUCOIN
KUCOIN_API_HOST=https://api.kucoin.com
KUCOIN_PING_INTERVAL_SECONDS=18
# MONITORING
ENABLE_METRICS_VERBOSE=false
TRACKED_SYMBOLS=
METRICS_PORT=9000
MONITOR_RDKAFKA=true
MONITOR_MSG=true
MONITORING_RATIO=1
# MONITOR_SYMBOLS=ETHFDUSD
# GENERAL
ENABLE_SCRAPER=true
RUST_LOG=info
SYMBOL_CONFIG_PATH=resources/symbols.yaml
# TOKIO
TOKIO_WORKER_THREADS=4
TOKIO_QUEUE_INTERVAL=5
TOKIO_EVENT_INTERVAL=5
# PIPELINE
PROCESS_QUEUE_CAPACITY=500
STREAM_GROUP_COUNT=300
PROCESS_GROUP_COUNT=1000
MAX_INFLIGHT_BY_PROCESS_GROUP=30